<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%=title%></title>    
    <link href="css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="css/books.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&display=swap" rel="stylesheet">
    <meta name="generator" content="Bootply" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
        
</head>
<body>
    
    <!-- top navbar -->
        
        
    <nav>
      <nav class="navbar navbar-expand-md navbar-custom bg-dark navbar-dark">
        <!-- Brand -->
        <a class="navbar-brand" href="#">
          <!-- <img src="/images/lampp.gif" alt="logo" style="max-height:14vw;border: 5px solid maroon; margin-top: -4vh;"> -->
        </a>
        <label class="logo" style="color: rgb(25, 143, 31); font-size: 3vw;">MY LIBRARY</label>
            
            <!-- Toggler/collapsibe Button -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <!-- Navbar links -->
         <a href="/" class="navbar-brand"></a>
         <div class="collapse navbar-collapse" id="collapsibleNavbar">
             <ul class="navbar-nav">
             
                 <%for(i=0;i<nav.length;i++){%>
                 <li class="nav-item">
                    <%if (nav[i].name=='Books'){%>
                        <a class="nav-link" style="background-color:rgb(186, 236, 128); color: maroon;" href="<%=nav[i].link%>"><%=nav[i].name%></a>
                    <%}
                    else{%>
                        <a class="nav-link" href="<%=nav[i].link%>"><%=nav[i].name%></a>
                   <% } %>                    
                 </li>
                <%}%>
             </ul>
         </div>
     </nav>
 </nav>
 <!--navbar ends-->
   
<!-- <span>
    <div class="jumbotron"  style="width: 60vw; margin: 5vh 20vw; background-color: rgb(255, 196, 0)">
        <h1 class="display-4" style="font-family:  'Cinzel Decorative', cursive !important;">Athenaeum</h1>
        <p class="lead">A collection of literary works... A collection of plays, poems, short stories, songs or excerpts by different authors</p>
        <hr class="my-4">
        <p>The promotion of literary or scientific learning through this Bibliotheca...</p> -->
        <!-- <p class="lead">
          <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a> -->
        <!-- </p>
      </div>
</span> -->



<span style="width: 90vw; margin: 5vh; ">

    <div class="card-deck" style="margin: 0 10vw;">
      <%for(i=0;i<books.length;i++){%>
        <div class="card" style="margin: 2vw;background-color: rgb(9, 46, 14);">
          <img src="/images/<%=books[i].img%>" class="card-img-top" alt="..." style="height: 300px;width: 300px;">
          <div class="card-body">
            <h5 class="card-title" style="color: white;"><%=books[i].title%></h5>
            <p class="card-text" style="color: white;"><%=books[i].author%>&nbsp;/&nbsp;<small style="color: rgb(238, 235, 89);"><%=books[i].genre%></small></p>
            <p class="card-text"><small><a href="/books/<%=i%>">Read More</a></small></p>
          </div>
        </div>
      <%}%>  
    </div>

    <div class="card-deck" style="margin: 0 10vw;">
      <%for(i=0;i<books2.length;i++){%>
        <div class="card" style="margin: 2vw;background-color: rgb(9, 46, 14);">
          <img src="/images/<%=books2[i].img%>" class="card-img-top" alt="..." style="height: 300px;width: 300px;">
          <div class="card-body">
            <h5 class="card-title" style="color: white;"><%=books2[i].title%></h5>
            <p class="card-text" style="color: white;"><%=books2[i].author%>/<small style="color: rgb(238, 235, 89);"><%=books2[i].genre%></small></p>
            <p class="card-text"><small><a href="/books/nmy/<%=i%>">Read More</a></small></p>
          </div>
        </div>
      <%}%>  
    </div>
     <!-- footer starts here -->
     <footer style="margin-bottom: -15vh; background-color: white;"><br>
      <div class="content container-fluid"  >
        <div class="row">
          <div class="col-sm-5">
            <p>&copy;All Rights Reserved</p><br><br>
          </div> 
          <br>
          <div class="col-md-3">
            <nav class="navbar navbar-default" role="navigation">
                <a href="#" target="_blank"><span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                </span></a>
                <a href="#" target="_blank"><span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-twitter fa-stack-1x fa-inverse "></i>
                </span></a>
                <a href="#" target="_blank"><span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
                </span></a>
                <a href="#" target="_blank"><span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x "></i>
                  <i class="fa fa-google-plus fa-stack-1x fa-inverse"></i>
                </span></a>
                <a href="#" target="_blank"><span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x "></i>
                  <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                </span></a>
              </div>
              <div class="col-sm-3">
            </nav>
          </div>
        </div> 
      </div> 
      </footer>
      <!-- /footer -->   
      
</span>
    
     
</body>
</html>